



.gris1 {color:#EBEBEB;}
.gris1_BG {background-color:#646464;}


.gris2 {color:#888888;}
.gris2_BG {background-color:#c8c8c8;}

.gris3 {color:#DDE8DD;}
.gris3_BG {background-color:#DDE8DD;}


.color {color:#1BB105;}
.color_BG {background-color:#1BB105;}

.color1 {color:#008F2F;}
.color1_BG {background-color:#008F2F;}

.color2 {color:#F4F7F4;}
.color2_BG {background-color: #F4F7F4;}

.blanco {color:#ffffff;}
.blanco_BG {background-color: #ffffff;}

.negro {color:#000000;}
.negro_BG {background-color: #000000;}

.shadow {
    box-shadow: 2px 3px 5px #333333;
}

body {
    
    font-family: Arial;
    font-size: 13px;
    margin:0px;
    
}


.page {
	
	
	width: 1014px;
    background: none repeat scroll 0 0;
    height: auto;
    margin: 0 auto;
    padding: 0;
    }
    
    
.contenedor {width:1014px; height:600px; margin-top:10px; border: 1px solid #666666;}

.cabcontenerdor {width:994px; height:16px; background-color: #b8b8b8; border-bottom:1px solid #666666; padding: 2px 10px 2px 10px; }
.tit_contenedor { float:left;
	font-family: Arial;
    font-size: 13px;
    margin:0px;
	color:#444444;}


.iconos {
    background-image: url("/iconos/iconos.png");
    background-repeat: no-repeat;
}

.closeW {width: 14px; height: 14px; background-position: 0px 0px; float: right; margin-top:1px; margin-right:-6px; cursor: pointer;}
